@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');

.navbar-text{
    margin-right: 15px;
    margin-left: 10px;
    font-size: 15px;
}

.nav-item {
    font-size: 20px;
}

.navbar-brand{
    font-size: 20px;
}

h1{
    
    font-size: 36px;
    
}

.album{

    padding-top: 30px;
}

p{
    font-size: 28px;
}


.card{
    margin-bottom: 10px;
    border-radius: 20px 30px;
    border-color: rgba(202, 202, 202, 0.459);
    
}